@model OPS2020.Models.QuestionnaireModel

@{
    ViewData["Title"] = "Quest";
}


<style>
    .rotate {
        -moz-transition: all .2s linear;
        -webkit-transition: all .2s linear;
        transition: all .2s linear;
    }

        .rotate.down {
            -ms-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
        }

    ul {
        list-style-type: none;
    }

    a.disabled {
        pointer-events: none;
        cursor: default;
    }
</style>
<div class="col-sm">
    <h1>@Model.CodeProduitFormation</h1>
    <div class="card">
        <div class="card-header">Création d'un questionnaire</div>
        <div class="card-body">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-prop-tab" data-toggle="tab" href="#nav-prop" role="tab" aria-controls="nav-prop" aria-selected="true">Propriétés du questionnaire</a>
                    <a class="nav-item nav-link" id="nav-questions-tab" data-toggle="tab" href="#nav-questions" role="tab" aria-controls="nav-questions" aria-selected="false">Questions du questionnaire</a>
                    <a class="nav-item nav-link" id="nav-preview-tab" data-toggle="tab" href="#nav-preview" role="tab" aria-controls="nav-preview" aria-selected="false">Aperçu du questionnaire</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-prop" role="tabpanel" aria-labelledby="nav-prop-tab">
                    <label for="titreTxtB">Titre du questionnaire</label>
                    <input id="titreTxtB" type="text" class="form-control" placeholder="Titre">
                    <label for="libelTxtB">Description du questionnaire</label>
                    <textarea class="form-control" placeholder="Description" name="descriptionTxtA" rows="5" id="descriptionTxtA"></textarea>
                    <input id="BtnValider" type="button" name="BtnValider" value="Créer" class="btn btn-primary right" />
                </div>
                <div class="tab-pane fade" id="nav-questions" role="tabpanel" aria-labelledby="nav-questions-tab">
                    <div class="row"> <div id="titreDiv" class="card-header text-center flex-fill">Validez les propriétés du questionnaire le titre apparaîtra ici</div></div>
                    <div class="row">
                        <div class="col-sm">
                            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                                <button class="navbar-toggler btn btn-light btn-block" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                    <span>Type de question</span>&emsp;&emsp;&emsp;<span class="navbar-toggler-icon float-right"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="navbarSupportedContent1">
                                    <ul class="navbar-nav flex-md-column flex-fill">
                                        <li id="Btn1a10" name="Btn1a10" class="btn btn-light btn-sm nav-item" data-toggle="modal" data-target="#myModal">Evaluer selon une échelle de 1 à 10</li>
                                        <li id="Btn4niv" name="Btn4niv" class="btn btn-light btn-lg btn-block btn-sm nav-item" data-toggle="modal" data-target="#myModal">Evaluer selon 4 niveaux de satisfaction</li>
                                        <li id="Btn1rep" name="Btn1rep" class="btn btn-light btn-lg btn-block btn-sm nav-item" data-toggle="modal" data-target="#myModal">Choisir une seule réponse au sein d'un groupe de choix</li>
                                        <li id="Btn1repListe" name="Btn1repListe" class="btn btn-light btn-lg btn-block btn-sm nav-item" data-toggle="modal" data-target="#myModal">Choisir une seule réponse au sein liste</li>
                                        <li id="Btn1a10" name="Btn1a10" class="btn btn-light btn-lg btn-block btn-sm nav-item" data-toggle="modal" data-target="#myModal">Choisir entre oui et non</></li>
                                        <li id="BtnOuiNon" name="BtnOuiNon" class="btn btn-light btn-lg btn-block btn-sm nav-item" data-toggle="modal" data-target="#myModal">Choisir entre oui, non et Ne sais pas</></li>
                                        <li id="Btn1a10" name="Btn1a10" class="btn btn-light btn-lg btn-block btn-sm nav-item" data-toggle="modal" data-target="#myModal">Choisir plusieurs réponses au sein d'un groupe de choix</li>
                                        <li id="Btn1a10" name="Btn1a10" class="btn btn-light btn-lg btn-block btn-sm nav-item" data-toggle="modal" data-target="#myModal">Répondre sous forme de texte court</li>
                                        <li id="Btn1a10" name="Btn1a10" class="btn btn-light btn-lg btn-block btn-sm nav-item" data-toggle="modal" data-target="#myModal">Répondre sous forme de texte long</li>
                                        <li id="Btn1a10" name="Btn1a10" class="btn btn-light btn-lg btn-block btn-sm nav-item" data-toggle="modal" data-target="#myModal">Répondre sous forme d'une valeur numérique</li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                        <div class="col-sm">
                            <ul id="sortable" class="navbar-nav flex-md-column flex-fill">
                                <li id="12">
                                    <div class="card">
                                        <div class="card-header">
                                            <div class="row">
                                                <div class="col-sm btn-sm justify-content-sm-center">
                                                    <div class="d-inline float-left" id="intitule12Div">Question n°1 intitulé quel est votre couleur préférée ? ?</div>
                                                    <div class="d-inline float-right">
                                                        <i class="fa fa-chevron-up ml-3 rotate" data-toggle="collapse" data-target="#quest1Param" aria-expanded="false" aria-controls="collapseExample"></i>
                                                        <i class="fas fa-arrows-alt ml-2"></i>
                                                        <i id="trash12Icon" class="fas fa-trash-alt ml-2 trash"></i>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="collapse" id="quest1Param">
                                            <div class="card card-body">

                                                <div class="row mt-2 justify-content-center">
                                                    <div class="d-inline">Intitulé de la question :</div>
                                                    <div class="d-inline ml-2"><input class="form-control intituleTxtB" placeholder="Intitulé" type="text" id="intitule12TxtB" /></div>
                                                </div>
                                                <div class="row mt-2 justify-content-center">
                                                    <div class="d-inline">Réponse obligatoire : </div>
                                                    <div class="d-inline ml-2">
                                                        <div class="form-check-inline">
                                                            <label>
                                                                <input class="form-check-input" type="radio" name="req" id="reqOui12Radio" checked> Oui
                                                            </label>
                                                            <label>
                                                                <input class="form-check-input ml-5" type="radio" name="req" id="reqNon12Radio" disabled> Non
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mt-2 justify-content-center">
                                                    <div class="d-inline">Type de graphique :</div>
                                                    <div class="d-inline ml-2">
                                                        <select class="btn-sm">
                                                            <option selected value="1">Colonne</option>
                                                            <option value="2">Ligne</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row mt-2 justify-content-center">
                                                    <div class="d-inline">Valeurs possibles :</div>
                                                    <div class="d-inline ml-2">
                                                        <input type="button" value="Ajouter un item" class="btn-sm" disabled />
                                                    </div>
                                                </div>

                                                <ul class="pl-0 mt-2" id="item12Ul">
                                                    <li class="form-inline justify-content-center mb-2"><div class="d-inline"><input type="radio" name="item" id="option1" class="d-inline ml-2" disabled /></div><div width="50" class="d-inline"><input class="form-control" type="text" value="Oui" disabled /></div><div class="d-inline ml-2"><button disabled><i href="#" class="fas fa-trash-alt"></i></button></div></li>
                                                    <li class="form-inline justify-content-center mb-2"><div class="d-inline"><input type="radio" name="item" id="option1" class="d-inline ml-2" disabled /></div><div width="50" class="d-inline"><input class="form-control" type="text" value="Non" disabled /></div><div class="d-inline ml-2"><button disabled><i href="#" class="fas fa-trash-alt"></i></button></div></li>
                                                    <li class="form-inline justify-content-center mb-2"><div class="d-inline"><input type="radio" name="item" id="option1" class="d-inline ml-2" disabled /></div><div width="50" class="d-inline"><input class="form-control" type="text" value="Ne sais pas" disabled /></div><div class="d-inline ml-2"><button disabled><i href="#" class="fas fa-trash-alt"></i></button></div></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li id="2">
                                    <div class="card">
                                        <div class="card-header">
                                            <div class="row">
                                                <div class="col-sm btn-sm justify-content-sm-center">
                                                    <div class="d-inline float-left" id="intitule112Div">Question n°1 intitulé quel est votre couleur préférée ? ?</div>
                                                    <div class="d-inline float-right">
                                                        <i class="fa fa-chevron-up ml-3 rotate" data-toggle="collapse" data-target="#quest112Param" aria-expanded="false" aria-controls="collapseExample"></i>
                                                        <i class="fas fa-arrows-alt ml-2"></i>
                                                        <i data-index-number="12314" class="fas fa-trash-alt ml-2"></i>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="collapse" id="quest112Param">
                                            <div class="card card-body">

                                                <div class="row mt-2 justify-content-center">
                                                    <div class="d-inline">Intitulé de la question :</div>
                                                    <div class="d-inline ml-2"><input class="form-control intituleTxtB" placeholder="Intitulé" type="text" id="intitule112TxtB" /></div>
                                                </div>
                                                <div class="row mt-2 justify-content-center">
                                                    <div class="d-inline">Réponse obligatoire : </div>
                                                    <div class="d-inline ml-2">
                                                        <div class="form-check-inline">
                                                            <label>
                                                                <input class="form-check-input" type="radio" name="options" id="reqOui112Radio" checked> Oui
                                                            </label>
                                                            <label>
                                                                <input class="form-check-input ml-5" type="radio" name="options" id="reqNon112Radio" disabled> Non
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mt-2 justify-content-center">
                                                    <div class="d-inline">Type de graphique :</div>
                                                    <div class="d-inline ml-2">
                                                        <select class="btn-sm">
                                                            <option selected value="1">Colonne</option>
                                                            <option value="2">Ligne</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row mt-2 justify-content-center">
                                                    <div class="d-inline">Valeurs possibles :</div>
                                                    <div class="d-inline ml-2">
                                                        <input id="ajouter112Btn" type="button" value="Ajouter un item" class="btn-sm ajouter-item-radio"/>
                                                    </div>
                                                </div>

                                                <ul class="list-inline pl-0 mt-2" id="item112Ul">
                                                    <li class="list-inline-item form-inline justify-content-center mb-2"><div class="d-inline"><input type="radio" name="item" id="option1" class="ml-2" disabled /></div><div class="d-inline"><input class="form-control" type="text" value="Oui" disabled /></div><div class="d-inline ml-2"><button disabled><i href="#" class="fas fa-trash-alt"></i></button></div></li>
                                                    <li class="list-inline-item form-inline justify-content-center mb-2"><div class="d-inline"><input type="radio" name="item" id="option1" class="ml-2" disabled /></div><div class="d-inline"><input class="form-control" type="text" value="Non" disabled /></div><div class="d-inline ml-2"><button disabled><i href="#" class="fas fa-trash-alt"></i></button></div></li>
                                                    <li class="list-inline-item form-inline justify-content-center mb-2"><div class="d-inline"><input type="radio" name="item" id="option1" class="ml-2" disabled /></div><div class="d-inline"><input class="form-control" type="text" value="Ne sais pas" disabled /></div><div class="d-inline ml-2"><button disabled><i href="#" class="fas fa-trash-alt"></i></button></div></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>


                            </ul>
                            <div id="ordre"><button id="ordreBtn"></button>   </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-preview" role="tabpanel" aria-labelledby="nav-preview-tab">fdtrdrdrtdrdrdd</div>

            </div>
        </div>
    </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <label for="intituleTxtB">Intitulé de la question :</label>
                <input class="form-control" placeholder="Intitulé" type="text" id="intituleModalTxtB" />
            </div>
            <div class="modal-footer">
                <button id="modalBtn" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>



<script>

    $('#sortable').sortable();
    $('.rotate').click(function () {
        $(this).toggleClass("down");
    });

    $('.fa-trash-alt').click(function () {

    });
    function ExtraireCodeQuestion(Id = '') {

        if (Id.match(/(\d+)/)) {
            var code = '';
            code = Id.match(/(\d+)/);
            return code[0];
        }
        else {

            return false;
        }
    }

    $(document).ready(function () {
        //$("#ordreBtn").click(function () {
        //    alert($("#sortable").sortable('toArray', { attribute: 'id' }).toSource());
        //    $("#ordre").text(productOrder);
        //});
        var nombreDeLi = $("#sortable").children().length;
        var numQuestion = 0;
        var codeQuestion = '';
        var questionnaire = {
            formationId: '',
            questionnaireId: '',
            titre: '',
            description: '',
            listQuestObj:['']
        }
        var item = {
            itemId:'',
            typeItem:'',
            itemTxtBId: '',
            itemUlId: '',
            itemIntitule: '',
            itemName: ''
        };
        var questionObj = {
            type: '',
            sousType: '',
            choixRequis: '',
            questionId: '',
            intitule: '',
            dataTarget: '',
            TargetId: '',
            intituleTxtBId: '',
            intituleDivBId: '',
            requisOuiRadioId: '',
            requisNonRadioId: '',
            requisRadioName: '',
            ddlId: '',
            ajoutSupprChoix: '',
            ajouterBtnId: '',
            supprBtnId: '',
            trashBtnId: '',
            graphique: '',
            listItems:['']
        }
        $("#BtnValider").click(function () {
            var titre = '';
            var description = '';
            titre = $("#titreTxtB").val();
            description = $("#descriptionTxtA").val();
            questionnaire.titre = titre;
            questionnaire.description = description;
            $("#titreDiv").html(titre);
            alert("Questionnaire " + titre + " créé");
        });
        $(".trash").click(function () {
            var idUl = '';
            codeQuestion = ExtraireCodeQuestion($(this).attr("id"));
            idUl = "#" + codeQuestion;
            $(idUl).remove(this);
            questionnaire.questionObj = questionnaire.listQuestObj.find(c => c.idQuestion === codeQuestion);
            console.log(questionnaire.questionObj);
            questionnaire.questionObj.remove();
            console.log(questionnaire);
        });
        $(".ajouter-item-radio").click(function () {
            var idUl = '';
            var itemID = '';
            itemID = String(codeQuestion) + String(Math.floor((Math.random() * 100) + 1));
            codeQuestion = ExtraireCodeQuestion($(this).attr("id"));
            idUl = "#item" + codeQuestion + "Ul";
            questionObj = questionnaire.listQuestObj.find(c => c.idQuestion === codeQuestion);
            item.itemId = itemID;
            item.typeItem = "radio";
            item.itemName = "item" + codeQuestion;
            item.itemTxtBId = "item" + itemID ;
            item.itemUlId = idUl;
            questionObj.listItems.push(item);
            console.log(questionObj.listItems);
            $(idUl).append($("<li class='list-inline-item form-inline justify-content-center mb-2'><div class='d-inline'><input type='radio' name='item' id='option1' class='ml-2'/></div><div class='d-inline'><input class='form - control' type='text' value='Oui'/></div><div class='d-inline ml-2'><button disabled><i href='#' class='fas fa-trash-alt'></i></button></div></li>"));

        });
        $('.intituleTxtB').keyup(function () {
            var intituleBtn = '';
            var intitule = '';
            var intituleBtn = "#" + $(this).attr("id");
            codeQuestion = ExtraireCodeQuestion($(this).attr("id"));
            var intituleDivB = "#intitule" + codeQuestion + "Div";
            $(intituleDivB).html('');
            intitule = $(intituleBtn).val();
            $(intituleDivB).html(intitule);
            questionObj = questionnaire.listQuestObj.find(c => c.idQuestion === codeQuestion);
            questionObj.intitule = intitule;
            
        });
        $("#BtnOuiNon").click(function () {
            questionObj.type = "OuiNon";
            questionObj.choixRequis = false;
            questionObj.ajoutSupprChoix = false;
        });
        $("#Btn1a10").click(function () {
            questionObj.type = "1a10";
            questionObj.choixRequis = false;
            questionObj.ajoutSupprChoix = false;
        });
        $("#modalBtn").click(function () {
            numQuestion += 1;
            intitule = $("#intituleModalTxtB").val();
            codeQuestion = String(numQuestion) + String(nombreDeLi) + String(Math.floor((Math.random() * 100) + 1));
            questionObj.intitule = intitule;
            questionObj.questionId = codeQuestion;
            questionObj.dataTarget = "quest" + codeQuestion + "Param";
            questionObj.TargetId = "quest" + codeQuestion + "Param";
            questionObj.intituleTxtBId = "intitule" + codeQuestion + "TxtB";
            questionObj.intituleDivBId = "intitule" + codeQuestion + "Div";
            questionObj.requisOuiRadioId = "reqOui" + codeQuestion + "Radio";
            questionObj.requisNonRadioId = "reqNon" + codeQuestion + "Radio";
            questionObj.requisRadioName = "ouiNon" + codeQuestion;
            questionObj.ddlId = "item" + codeQuestion + "Ddl";
            questionObj.itemTxtBId = "item" + codeQuestion + "TxtB";
            questionObj.itemUlId = "item" + codeQuestion + "Ul";
            questionObj.itemUlId = "item" + codeQuestion;
            questionObj.ajouterBtnId = "ajouter" + codeQuestion + "Btn";
            questionObj.supprBtnId = "suppr" + codeQuestion + "Btn";
            questionObj.trashBtnId = "trash" + codeQuestion + "Btn";
            questionObj.graphique = 1;

            console.log(questionObj);
            CreerQuestion(questionObj);
        });
        function CreerQuestion(questionObj = null) {
            if (questionObj.requis = false) {


            }
            questionnaire.listQuestObj.push(questionObj)
            console.log(questionnaire);
        };
    });


    //$(function () {
    //    $('#sortable').sortable({
    //        update: function (event, ui) {
    //            var productOrder = $(this).sortable('toArray').toString();
    //            $("#ordre").text(productOrder);
    //        }
    //    });
    //});

    //$('.drag').draggable({
    //    containment: '#limitation',
    //    snap: '.draggable',
    //    revert: true
    //});
    //$('.drop').droppable();

</script>
