@model OPS2020.Models.QuestionnaireModel

@{
    ViewData["Title"] = "Quest";
}


<style>
    .rotate {
        -moz-transition: all .2s linear;
        -webkit-transition: all .2s linear;
        transition: all .2s linear;
    }

        .rotate.down {
            -ms-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
        }

    ul {
        list-style-type: none;
    }

    a.disabled {
        pointer-events: none;
        cursor: default;
    }
</style>
<div class="col-sm">
    <h1>@Model.CodeProduitFormation</h1>
    <div class="card">
        <div class="card-header">Création d'un questionnaire</div>
        <div class="card-body">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-prop-tab" data-toggle="tab" href="#nav-prop" role="tab" aria-controls="nav-prop" aria-selected="true">Propriétés du questionnaire</a>
                    <a class="nav-item nav-link" id="nav-questions-tab" data-toggle="tab" href="#nav-questions" role="tab" aria-controls="nav-questions" aria-selected="false">Questions du questionnaire</a>
                    <a class="nav-item nav-link" id="nav-preview-tab" data-toggle="tab" href="#nav-preview" role="tab" aria-controls="nav-preview" aria-selected="false">Aperçu du questionnaire</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-prop" role="tabpanel" aria-labelledby="nav-prop-tab">
                    <label for="titreTxtB">Titre du questionnaire</label>
                    <input id="titreTxtB" type="text" class="form-control" placeholder="Titre">
                    <label for="libelTxtB">Description du questionnaire</label>
                    <textarea class="form-control" placeholder="Description" name="descriptionTxtA" rows="5" id="descriptionTxtA"></textarea>
                    <input id="BtnValider" type="button" name="BtnValider" value="Créer" class="btn btn-primary right" />
                </div>
                <div class="tab-pane fade" id="nav-questions" role="tabpanel" aria-labelledby="nav-questions-tab">
                    <div class="row"> <div id="titreDiv" class="card-header text-center flex-fill">Validez les propriétés du questionnaire le titre apparaîtra ici</div></div>
                    <div class="row">
                        <div class="col-sm">
                            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                                <button class="navbar-toggler btn btn-light btn-block" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                    <span>Type de question</span>&emsp;&emsp;&emsp;<span class="navbar-toggler-icon float-right"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="navbarSupportedContent1">
                                    <ul class="navbar-nav flex-md-column flex-fill">
                                        <li id="BtnOuiNon" name="Btn1a10" class="btn btn-light btn-sm btn-block nav-item" data-toggle="modal" data-target="#questionModal">Choisir entre oui et non</li>
                                        <li id="BtnOuiNonNsp" name="BtnOuiNonNsp" class="btn btn-light btn-sm btn-block nav-item" data-toggle="modal" data-target="#questionModal">Choisir entre oui, non et Ne sais pas</li>
                                        <li id="Btn1a10" name="Btn1a10" class="btn btn-light btn-sm nav-item" data-toggle="modal" data-target="#questionModal">Evaluer selon une échelle de 1 à 10</li>
                                        <li id="Btn4niv" name="Btn4niv" class="btn btn-light btn-sm btn-block nav-item" data-toggle="modal" data-target="#questionModal">Evaluer selon 4 niveaux de satisfaction</li>
                                        <li id="Btn1rep" name="Btn1rep" class="btn btn-light btn-sm btn-block nav-item" data-toggle="modal" data-target="#questionModal">Choisir une seule réponse au sein d'un groupe de choix</li>
                                        <li id="Btn1repListe" name="Btn1repListe" class="btn btn-light btn-sm btn-block nav-item" data-toggle="modal" data-target="#questionModal">Choisir une seule réponse au sein liste</li>
                                        <li id="BtnNrep" name="BtnNrep" class="btn btn-light btn-sm btn-block nav-item" data-toggle="modal" data-target="#questionModal">Choisir plusieurs réponses au sein d'un groupe de choix</li>
                                        <li id="Btn1a10" name="BtnTxtC" class="btn btn-light btn-sm btn-block nav-item" data-toggle="modal" data-target="#questionModal">Répondre sous forme de texte court</li>
                                        <li id="Btn1a10" name="BtnTxtL" class="btn btn-light btn-sm btn-block nav-item" data-toggle="modal" data-target="#questionModal">Répondre sous forme de texte long</li>
                                        <li id="Btn1a10" name="BtnValNum" class="btn btn-light btn-sm btn-block nav-item" data-toggle="modal" data-target="#questionModal">Répondre sous forme d'une valeur numérique</li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                        <div class="col-sm">
                            <ul id="sortable" class="navbar-nav flex-md-column flex-fill">
                                <li id="12">
                                    <div class="card">
                                        <div class="card-header">
                                            <div class="row">
                                                <div class="col-sm btn-sm justify-content-sm-center">
                                                    <div class="d-inline float-left" id="intitule12Div">Question n°1 intitulé quel est votre couleur préférée ? ?</div>
                                                    <div class="d-inline float-right">
                                                        <i class="fa fa-chevron-up ml-3 rotate" data-toggle="collapse" data-target="#quest1Param" aria-expanded="false" aria-controls="collapseExample"></i>
                                                        <i class="fas fa-arrows-alt ml-2"></i>
                                                        <i id="trash12Icon" class="fas fa-trash-alt ml-2 trash" data-toggle="modal" data-target="#supprModal"></i>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="collapse" id="quest1Param">
                                            <div class="card card-body">

                                                <div class="row mt-2 justify-content-center">
                                                    <div class="d-inline">Intitulé de la question :</div>
                                                    <div class="d-inline ml-2"><input class="form-control intituleTxtB" placeholder="Intitulé" type="text" id="intitule12TxtB" /></div>
                                                </div>
                                                <div class="row mt-2 justify-content-center">
                                                    <div class="d-inline">Réponse obligatoire : </div>
                                                    <div class="d-inline ml-2">
                                                        <div class="form-check-inline">
                                                            <label>
                                                                <input class="form-check-input" type="radio" name="req" id="reqOui12Radio" checked> Oui
                                                            </label>
                                                            <label>
                                                                <input class="form-check-input ml-5" type="radio" name="req" id="reqNon12Radio" disabled> Non
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mt-2 justify-content-center">
                                                    <div class="d-inline">Type de graphique :</div>
                                                    <div class="d-inline ml-2">
                                                        <select class="btn-sm">
                                                            <option selected value="1">Colonne</option>
                                                            <option value="2">Ligne</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row mt-2 justify-content-center">
                                                    <div class="d-inline">Valeurs possibles :</div>
                                                    <div class="d-inline ml-2">
                                                        <input type="button" value="Ajouter un item" class="btn-sm" disabled />
                                                    </div>
                                                </div>

                                                <ul class="pl-0 mt-2" id="item12Ul">
                                                    <li class="form-inline justify-content-center w-75 mb-2"><input type="radio" name="item" id="option1" class="d-inline ml-2" disabled /><input class="form-control d-inline ml-2" type="text" value="Oui" disabled /><button class="d-inline ml-2" disabled><i href="#" class="fas fa-trash-alt"></i></button></li>
                                                    <li class="form-inline justify-content-center mb-2"><div class="d-inline"><input type="radio" name="item" id="option1" class="d-inline ml-2" disabled /></div><div class="d-inline"><input class="form-control w-75" type="text" value="Non" disabled /></div><div class="d-inline ml-2"><button disabled><i href="#" class="fas fa-trash-alt"></i></button></div></li>
                                                    <li class="form-inline justify-content-center mb-2"><div class="d-inline"><input type="radio" name="item" id="option1" class="d-inline ml-2" disabled /></div><div class="d-inline"><input class="form-control w-75" type="text" value="Ne sais pas" disabled /></div><div class="d-inline ml-2"><button disabled><i href="#" class="fas fa-trash-alt"></i></button></div></li>
                                                </ul>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label" for="radios">Multiple Radios</label>
                                                    <div class="col-md-4">
                                                        <div class="radio">
                                                            <label class="radio-inline" for="radios-0">
                                                                <input type="radio" name="radios" id="radios-0" value="1" checked="checked">

                                                            </label>
                                                            <input class="form-control d-inline ml-2" type="text" value="Oui" disabled />
                                                            <button class="d-inline ml-2" disabled><i href="#" class="fas fa-trash-alt"></i></button>
                                                        </div>
                                                        <div class="radio">
                                                            <label for="radios-1">
                                                                <input type="radio" name="radios" id="radios-1" value="2">
                                                                Option two
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li id="2">
                                    <div class="card">
                                        <div class="card-header">
                                            <div class="row">
                                                <div class="col-sm btn-sm justify-content-sm-center">
                                                    <div class="d-inline float-left" id="intitule112Div">Question n°1 intitulé quel est votre couleur préférée ? ?</div>
                                                    <div class="d-inline float-right">
                                                        <i class="fa fa-chevron-up ml-3 rotate" data-toggle="collapse" data-target="#quest112Param" aria-expanded="false" aria-controls="collapseExample"></i>
                                                        <i class="fas fa-arrows-alt ml-2"></i>
                                                        <i data-index-number="12314" class="fas fa-trash-alt ml-2"></i>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="collapse" id="quest112Param">
                                            <div class="card card-body">

                                                <div class="row mt-2 justify-content-center">
                                                    <div class="d-inline">Intitulé de la question :</div>
                                                    <div class="d-inline ml-2"><input class="form-control intituleTxtB" placeholder="Intitulé" type="text" id="intitule112TxtB" /></div>
                                                </div>
                                                <div class="row mt-2 justify-content-center">
                                                    <div class="d-inline">Réponse obligatoire : </div>
                                                    <div class="d-inline ml-2">
                                                        <div class="form-check-inline">
                                                            <label>
                                                                <input class="form-check-input" type="radio" name="options" id="reqOui112Radio" checked> Oui
                                                            </label>
                                                            <label>
                                                                <input class="form-check-input ml-5" type="radio" name="options" id="reqNon112Radio" disabled> Non
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mt-2 justify-content-center">
                                                    <div class="d-inline">Type de graphique :</div>
                                                    <div class="d-inline ml-2">
                                                        <select class="btn-sm">
                                                            <option selected value="1">Colonne</option>
                                                            <option value="2">Ligne</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row mt-2 justify-content-center">
                                                    <div class="d-inline">Valeurs possibles :</div>
                                                    <div class="d-inline ml-2">
                                                        <input id="ajouter112Btn" type="button" value="Ajouter un item" class="btn-sm ajouter-item-radio" />
                                                    </div>
                                                </div>

                                                <ul class="list-inline pl-0 mt-2" id="item112Ul">
                                                    <li class="list-inline-item form-inline justify-content-center mb-2"><div class="d-inline"><input type="radio" name="item" id="option1" class="ml-2" disabled /></div><div class="d-inline"><input class="form-control" type="text" value="Oui" disabled /></div><div class="d-inline ml-2"><button disabled><i href="#" class="fas fa-trash-alt"></i></button></div></li>
                                                    <li class="list-inline-item form-inline justify-content-center mb-2"><div class="d-inline"><input type="radio" name="item" id="option1" class="ml-2" disabled /></div><div class="d-inline"><input class="form-control" type="text" value="Non" disabled /></div><div class="d-inline ml-2"><button disabled><i href="#" class="fas fa-trash-alt"></i></button></div></li>
                                                    <li class="list-inline-item form-inline justify-content-center mb-2"><div class="d-inline"><input type="radio" name="item" id="option1" class="ml-2" disabled /></div><div class="d-inline"><input class="form-control" type="text" value="Ne sais pas" disabled /></div><div class="d-inline ml-2"><button disabled><i href="#" class="fas fa-trash-alt"></i></button></div></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>


                            </ul>
                            <div id="ordre"><button id="ordreBtn"></button>   </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-preview" role="tabpanel" aria-labelledby="nav-preview-tab">
                    <form class="form-horizontal">
                        <fieldset>
                            <legend id="formName">Form Name</legend>
                            <div id="previewQuestions">


                            </div>
                        </fieldset>
                    </form>

                </div>

            </div>
        </div>
    </div>
</div>

<div id="questionModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <label for="intituleTxtB">Intitulé de la question :</label>
                <input class="form-control" placeholder="Intitulé" type="text" id="intituleModalTxtB" />
            </div>
            <div class="modal-footer">
                <button id="modalIntituleBtn" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="supprModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Suppression de question</h4>
            </div>
            <div class="modal-body">
                <label for="intituleTxtB">Voulez-vous supprimer la question ?</label>
            </div>
            <div class="modal-footer">
                <button id="modalSupprBtn" type="button" class="btn btn-default" data-dismiss="modal">Supprimer</button>
                <button id="modalAnnulBtn" type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>



<script>

    $('#sortable').sortable();


    $(document.body).on('click', '.element', function (e) { });

    $(document.body).on('click', '.element', function (e) { });



    $(document.body).on('click', '.rotate', function () { $(this).toggleClass("down"); });

    $(document).ready(function () {
        //$("#ordreBtn").click(function () {
        //    alert($("#sortable").sortable('toArray', { attribute: 'id' }).toSource());
        //    $("#ordre").text(productOrder);
        //});
        var C = console.log;
        var nombreDeLi = $("#sortable").children().length;
        var numQuestion = 0;
        var codeQuestion = '';
        var idLiQuestion = '';
        var questionPreviewId = '';
        var type = '';
        var choixRequis = true;
        var ajoutSupprChoix = true;
        var questionnaire = {
            formationId: '',
            questionnaireId: '',
            titre: '',
            description: '',
            codeHtml: '',
            listQuestObj: ['']
        }
        var item = {
            itemId: '',
            typeItem: '',
            itemTxtBId: '',
            itemUlId: '',
            itemIntitule: '',
            codeHtml: '',
            itemName: ''
        };
        var questionObjt = {
            type: '',
            sousType: '',
            choixRequis: '',
            questionId: '',
            intitule: '',
            dataTarget: '',
            TargetId: '',
            intituleTxtBId: '',
            intituleDivBId: '',
            requisOuiRadioId: '',
            requisNonRadioId: '',
            requisRadioName: '',
            ddlId: '',
            ajoutSupprChoix: '',
            ajouterBtnId: '',
            supprBtnId: '',
            trashBtnId: '',
            graphique: '',
            graphiqueId: '',
            codeHtml: '',
            listItems: ['']
        }

        $("#modalSupprBtn").click(function () {
            $(idLiQuestion).remove();
            var qpreview = '';
            qpreview = "#" + questionPreviewId;
            
            $(qpreview).remove();
            questionObj == questionnaire.listQuestObj.find(c => c.questionId === codeQuestion);
            questionnaire.listQuestObj.pop(questionObj);
            C(questionnaire.listQuestObj);
        });
        $(document.body).on('click', '.trash', function () {
            codeQuestion = ExtraireCodeQuestion($(this).attr("id"));
            idLiQuestion = "#" + codeQuestion;
        });

        $(document.body).on('keyup', '.intituleTxtB', function () {
            var intituleBtn = '';
            var intitule = '';
            var intituleBtn = "#" + $(this).attr("id");
            console.log(intituleBtn);
            codeQuestion = ExtraireCodeQuestion($(this).attr("id"));
            console.log(codeQuestion);
            var intituleDivB = "#intitule" + codeQuestion + "Div";
            $(intituleDivB).html('');
            intitule = $(intituleBtn).val();
            $(intituleDivB).html(intitule);
            questionObj == questionnaire.listQuestObj.find(c => c.questionId === codeQuestion);
            questionObj.intitule = '';
            questionObj.intitule = intitule;
            qpreview = "#" + questionPreviewId;
            $(qpreview).remove();
            CreerPreview(questionObj);
        });
        $(document.body).on('change', '.graphOption', function (e) {
            var objIndex = '';
            codeQuestion = ExtraireCodeQuestion($(this).attr("id"));
            questionObj == questionnaire.listQuestObj.find(c => c.questionId === codeQuestion);
            console.log(questionObj);
            questionObj.graphique = $(this).val();
            questionPreviewId = "questionPreview" + questionObj.questionId;
            qpreview = "#" + questionPreviewId;
            C(questionPreviewId);
            $(qpreview).remove();

            CreerPreview(questionObj);
        });
        $("#BtnValider").click(function () {
            var titre = '';
            var description = '';
            titre = $("#titreTxtB").val();
            description = $("#descriptionTxtA").val();
            $("#formName").html(titre);
            questionnaire.titre = titre;
            questionnaire.description = description;
            questionnaire.formationId= @Model.CodeProduitFormation;
            $("#titreDiv").html(titre);
            alert("Questionnaire " + titre + " créé.");
        });

        $(".ajouter-item-radio").click(function () {
            var idUl = '';
            var itemID = '';
            itemID = String(codeQuestion) + String(Math.floor((Math.random() * 100) + 1));
            codeQuestion = ExtraireCodeQuestion($(this).attr("id"));
            idUl = "#item" + codeQuestion + "Ul";
            questionObj == questionnaire.listQuestObj.find(c => c.questionId === codeQuestion);
            item.itemId = itemID;
            item.typeItem = "radio";
            item.itemName = "item" + codeQuestion;
            item.itemTxtBId = "item" + itemID;
            item.itemUlId = idUl;
            questionObj.listItems.push(item);
            console.log(questionObj.listItems);
            $(idUl).append($("<li class='list-inline-item form-inline justify-content-center mb-2'><div class='d-inline'><input type='radio' name='item' id='option1' class='ml-2'/></div><div class='d-inline'><input class='form - control' type='text' value='Oui'/></div><div class='d-inline ml-2'><button disabled><i href='#' class='fas fa-trash-alt'></i></button></div></li>"));

        });

        $("#BtnOuiNonNsp").click(function () {
            type = "OuiNonNsp";
            choixRequis = false;
            ajoutSupprChoix = false;
        });
        $("#BtnOuiNon").click(function () {
            type = "OuiNon";
            choixRequis = false;
            ajoutSupprChoix = false;
        });
        $("#Btn1a10").click(function () {
            type  = "1a10";
            choixRequis = false;
            ajoutSupprChoix = false;
        });
        $("#modalIntituleBtn").click(function () {
            C(type);
            questionObj = new QuestionObj(type, choixRequis, ajoutSupprChoix);
            numQuestion += 1;
            var intitule = '';
            intitule = $("#intituleModalTxtB").val();
            codeQuestion = String(numQuestion) + String(nombreDeLi) + String(Math.floor((Math.random() * 100) + 1));
            questionObj.questionId = codeQuestion;
            questionObj.intitule = intitule;
            questionObj.dataTarget = "#quest" + codeQuestion + "Param";
            questionObj.TargetId = "quest" + codeQuestion + "Param";
            questionObj.intituleTxtBId = "intitule" + codeQuestion + "TxtB";
            questionObj.intituleDivBId = "intitule" + codeQuestion + "Div";
            questionObj.requisOuiRadioId = "reqOui" + codeQuestion + "Radio";
            questionObj.requisNonRadioId = "reqNon" + codeQuestion + "Radio";
            questionObj.requisRadioName = "ouiNon" + codeQuestion;
            questionObj.ddlId = "item" + codeQuestion + "Ddl";
            questionObj.itemTxtBId = "item" + codeQuestion + "TxtB";
            questionObj.itemUlId = "item" + codeQuestion + "Ul";
            questionObj.itemUlId = "item" + codeQuestion;
            questionObj.ajouterBtnId = "ajouter" + codeQuestion + "Btn";
            questionObj.supprBtnId = "suppr" + codeQuestion + "Btn";
            questionObj.trashIconId = "trash" + codeQuestion + "Icon";
            questionObj.graphiqueId = "graph" + codeQuestion + "select";
            questionObj.graphique = 1;
            questionObj.listItems = [''];

            questionnaire.listQuestObj.push({ questionObj });
            $("#intituleModalTxtB").val('');
            C(questionnaire);
            CreerQuestion(questionObj);
            CreerPreview(questionObj);
        });

        function CreerQuestion(questionObj = null) {
            if (questionObj.type == "OuiNon") {
                $("#sortable").append("<li id=" + questionObj.questionId + "><div class='card'><div class='card-header'><div class='row'>" +
                    "<div class='col-sm btn-sm justify-content-sm-center'>" +
                    "<div class='d-inline float-left' id=" + questionObj.intituleDivBId + ">" + questionObj.intitule + "</div>" +
                    "<div class='d-inline float-right'>" +
                    "<i class='fa fa-chevron-up ml-3 rotate' data-toggle='collapse' data-target=" + questionObj.dataTarget + " aria-expanded='false' aria-controls='collapseExample'></i>" +
                    "<i class='fas fa-arrows-alt ml-2'></i>" +
                    "<i id=" + questionObj.trashIconId + " class='fas fa-trash-alt ml-2 trash' data-toggle='modal' data-target='#supprModal'></i></div></div></div></div>" +
                    "<div class='collapse' id=" + questionObj.TargetId + ">" +
                    "<div class='card card-body'>" +
                    "<div class='row mt-2 justify-content-center'>" +
                    "<div class='d-inline'>Intitulé de la question :</div>" +
                    "<div class='d-inline ml-2'><input class='form-control intituleTxtB' placeholder='Intitulé' type='text' id=" + questionObj.intituleTxtBId + " /></div></div>" +
                    "<div class='row mt-2 justify-content-center'>" +
                    "<div class='d-inline'>Réponse obligatoire : </div>" +
                    "<div class='d-inline ml-2'><div class='form-check-inline'><label>" +
                    "<input class='form-check-input' type='radio' name='req' id=" + questionObj.requisOuiRadioId + " checked> Oui</label>" +
                    "<label><input class='form-check-input ml-5' type='radio' name='req' id=" + questionObj.requisNonRadioId + " disabled> Non</label></div></div></div>" +
                    "<div class='row mt-2 justify-content-center'>" +
                    "<div class='d-inline'>Type de graphique :</div>" +
                    "<div class='d-inline ml-2'>" +
                    "<select id=" + questionObj.graphiqueId + " class='btn-sm graphOption'>" +
                    "<option selected value='1'>Colonne</option>" +
                    "<option value='2'>Ligne</option></select></div></div>" +
                    "<div class='row mt-2 justify-content-center'>" +
                    "<div class='d-inline'>Valeurs possibles :</div>" +
                    "<div class='d-inline ml-2'>" +
                    "<input type='button' value='Ajouter un item' class='btn-sm' disabled /></div></div>" +
                    "<ul class='pl-0 mt-2' id=" + questionObj.itemUlId + ">" +
                    "<li class='form-inline justify-content-center mb-2'><div class='d-inline'><input type='radio' name='item' id='option1' class='d-inline ml-2' disabled /></div><div width='50' class='d-inline'><input class='form-control' type='text' value='Oui' disabled /></div><div class='d-inline ml-2'><button disabled><i href='#' class='fas fa-trash-alt'></i></button></div></li>" +
                    "<li class='form-inline justify-content-center mb-2'><div class='d-inline'><input type='radio' name='item' id='option1' class='d-inline ml-2' disabled /></div><div width='50' class='d-inline'><input class='form-control' type='text' value='Non' disabled /></div><div class='d-inline ml-2'><button disabled><i href='#' class='fas fa-trash-alt'></i></button></div></li></ul></div></div></div></li>");
            }
            if (questionObj.type == "OuiNonNsp") {
                $("#sortable").append("<li id=" + questionObj.questionId + "><div class='card'><div class='card-header'><div class='row'>" +
                    "<div class='col-sm btn-sm justify-content-sm-center'>" +
                    "<div class='d-inline float-left' id=" + questionObj.intituleDivBId + ">" + questionObj.intitule + "</div>" +
                    "<div class='d-inline float-right'>" +
                    "<i class='fa fa-chevron-up ml-3 rotate' data-toggle='collapse' data-target=" + questionObj.dataTarget + " aria-expanded='false' aria-controls='collapseExample'></i>" +
                    "<i class='fas fa-arrows-alt ml-2'></i>" +
                    "<i id=" + questionObj.trashIconId + " class='fas fa-trash-alt ml-2 trash' data-toggle='modal' data-target='#supprModal'></i></div></div></div></div>" +
                    "<div class='collapse' id=" + questionObj.TargetId + ">" +
                    "<div class='card card-body'>" +
                    "<div class='row mt-2 justify-content-center'>" +
                    "<div class='d-inline'>Intitulé de la question :</div>" +
                    "<div class='d-inline ml-2'><input class='form-control intituleTxtB' placeholder='Intitulé' type='text' id=" + questionObj.intituleTxtBId + " /></div></div>" +
                    "<div class='row mt-2 justify-content-center'>" +
                    "<div class='d-inline'>Réponse obligatoire : </div>" +
                    "<div class='d-inline ml-2'><div class='form-check-inline'><label>" +
                    "<input class='form-check-input' type='radio' name='req' id=" + questionObj.requisOuiRadioId + " checked> Oui</label>" +
                    "<label><input class='form-check-input ml-5' type='radio' name='req' id=" + questionObj.requisNonRadioId + " disabled> Non</label></div></div></div>" +
                    "<div class='row mt-2 justify-content-center'>" +
                    "<div class='d-inline'>Type de graphique :</div>" +
                    "<div class='d-inline ml-2'>" +
                    "<select id=" + questionObj.graphiqueId +" class='btn-sm graphOption'>" +
                    "<option selected value='1'>Colonne</option>" +
                    "<option value='2'>Ligne</option></select></div></div>" +
                    "<div class='row mt-2 justify-content-center'>" +
                    "<div class='d-inline'>Valeurs possibles :</div>" +
                    "<div class='d-inline ml-2'>" +
                    "<input type='button' value='Ajouter un item' class='btn-sm' disabled /></div></div>" +
                    "<ul class='pl-0 mt-2' id=" + questionObj.itemUlId + ">" +
                    "<li class='form-inline justify-content-center mb-2'><div class='d-inline'><input type='radio' name='item' id='option1' class='d-inline ml-2' disabled /></div><div width='50' class='d-inline'><input class='form-control' type='text' value='Oui' disabled /></div><div class='d-inline ml-2'><button disabled><i href='#' class='fas fa-trash-alt'></i></button></div></li>" +
                    "<li class='form-inline justify-content-center mb-2'><div class='d-inline'><input type='radio' name='item' id='option1' class='d-inline ml-2' disabled /></div><div width='50' class='d-inline'><input class='form-control' type='text' value='Non' disabled /></div><div class='d-inline ml-2'><button disabled><i href='#' class='fas fa-trash-alt'></i></button></div></li>" +
                    "<li class='form-inline justify-content-center mb-2'><div class='d-inline'><input type='radio' name='item' id='option1' class='d-inline ml-2' disabled /></div><div width='50' class='d-inline'><input class='form-control' type='text' value='Ne sais pas' disabled /></div><div class='d-inline ml-2'><button disabled><i href='#' class='fas fa-trash-alt'></i></button></div></li></ul></div></div></div></li>");

            }
            if (questionObj.type == "1a10") {
                $("#sortable").append("<li id=" + questionObj.questionId + "><div class='card'><div class='card-header'><div class='row'>" +
                    "<div class='col-sm btn-sm justify-content-sm-center'>" +
                    "<div class='d-inline float-left' id=" + questionObj.intituleDivBId + ">" + questionObj.intitule + "</div>" +
                    "<div class='d-inline float-right'>" +
                    "<i class='fa fa-chevron-up ml-3 rotate' data-toggle='collapse' data-target=" + questionObj.dataTarget + " aria-expanded='false' aria-controls='collapseExample'></i>" +
                    "<i class='fas fa-arrows-alt ml-2'></i>" +
                    "<i id=" + questionObj.trashIconId + " class='fas fa-trash-alt ml-2 trash' data-toggle='modal' data-target='#supprModal'></i></div></div></div></div>" +
                    "<div class='collapse' id=" + questionObj.TargetId + ">" +
                    "<div class='card card-body'>" +
                    "<div class='row mt-2 justify-content-center'>" +
                    "<div class='d-inline'>Intitulé de la question :</div>" +
                    "<div class='d-inline ml-2'><input class='form-control intituleTxtB' placeholder='Intitulé' type='text' id=" + questionObj.intituleTxtBId + " /></div></div>" +
                    "<div class='row mt-2 justify-content-center'>" +
                    "<div class='d-inline'>Réponse obligatoire : </div>" +
                    "<div class='d-inline ml-2'><div class='form-check-inline'><label>" +
                    "<input class='form-check-input' type='radio' name='req' id=" + questionObj.requisOuiRadioId + " checked> Oui</label>" +
                    "<label><input class='form-check-input ml-5' type='radio' name='req' id=" + questionObj.requisNonRadioId + " disabled> Non</label></div></div></div>" +
                    "<div class='row mt-2 justify-content-center'>" +
                    "<div class='d-inline'>Type de graphique :</div>" +
                    "<div class='d-inline ml-2'>" +
                    "<select id=" + questionObj.graphiqueId + " class='btn-sm graphOption' disabled>" +
                    "<option value='1'>Colonne</option>" +
                    "<option selected value='2'>Ligne</option></select></div></div>" +
                    "<div class='row mt-2 justify-content-center'>" +
                    "<div class='d-inline'>Valeurs possibles :</div>" +
                    "<div class='d-inline ml-2'>" +
                    "<input type='button' value='Ajouter un item' class='btn-sm' disabled /></div></div>" +
                    "<div class='row justify-content-center mt-2'>" +
                    "<label class='radio-inline mr-2' for='radio'>" +
                    "<input type='radio' id='radio' value='1' disabled>" +
                    "1" +
                    "</label>" +
                    "<label class='radio-inline mr-2' for='radio2'>" +
                    "<input type='radio' id='radio2' value='1' disabled>" +
                    "2" +
                    "</label>" +
                    "<label class='radio-inline mr-2' for='radio3'>" +
                    "<input type='radio' id='radio3' value='1' disabled>" +
                    "3" +
                    "</label>" +
                    "<label class='radio-inline mr-2' for='radio4'>" +
                    "<input type='radio' id='radio4' value='1' disabled>" +
                    "4" +
                    "</label>" +
                    "<label class='radio-inline mr-2' for='radio5'>" +
                    "<input type='radio' id='radio5' value='1' checked='checked' disabled>" +
                    "5" +
                    "</label>" +
                    "<label class='radio-inline mr-2' for='radio6'>" +
                    "<input type='radio' id='radio6' value='1' disabled>" +
                    "6" +
                    "</label>" +
                    "<label class='radio-inline mr-2' for='radio7'>" +
                    "<input type='radio' id='radio7' value='1' disabled>" +
                    "7" +
                    "</label>" +
                    "<label class='radio-inline mr-2' for='radio8'>" +
                    "<input type='radio' id='radio8' value='1' disabled>" +
                    "8" +
                    "</label>" +
                    "<label class='radio-inline mr-2' for='radio9'>" +
                    "<input type='radio' id='radio9' value='1' disabled>" +
                    "9" +
                    "</label>" +
                    "<label class='radio-inline mr-2' for='radio10'>" +
                    "<input type='radio' id='radio10' value='1' disabled>" +
                    "10" +
                    "</label></div>");
            }
            if (questionObj.requis = false) {


            }
        };
        function CreerPreview(questionObj = null) {
            console.log("creer preview");
            console.log(questionObj.graphique)
            questionPreviewId = "questionPreview" + questionObj.questionId;
            var itemOui = new Item();
            var itemNon = new Item();
            var itemNeSaisPas = new Item();
            var item1 = new Item();
            var item2 = new Item();
            var item3 = new Item();
            var item4 = new Item();
            var item5 = new Item();
            var item6 = new Item();
            var item7 = new Item();
            var item8 = new Item();
            var item9 = new Item();
            var item10 = new Item();

            if (questionObj.type == "OuiNon") {
                C("hey");
                C(questionObj.listItems);
                itemOui.itemID = "Oui" + codeQuestion;
                itemOui.itemName = "radio" + codeQuestion;
                itemNon.itemID = "Non" + codeQuestion;
                itemNon.itemName = "radio" + codeQuestion;
                if (questionObj.listItems.length == 1) {
                    questionObj.listItems.push({ itemNon });
                    questionObj.listItems.push({ itemOui });
                }
                if (questionObj.graphique == 2) {
                    questionObj.codeHtml = "<div id=" + questionPreviewId + " class='form-group'>" +
                        "<label class='col-md-4 control-label' for=" + itemOui.itemID + ">" + questionObj.intitule + "</label>" +
                        "<div class='col-md-4'>" +
                        "<label class='radio-inline mr-2' for=" + itemOui.itemID + ">" +
                        "<input type='radio' name=" + itemOui.itemName + " id=" + itemOui.itemID + " value='1' checked='checked'>" +
                        "Oui" +
                        "</label>" +
                        "<label class='radio-inline mr-2' for=" + itemNon.itemID + ">" +
                        "<input type='radio' name=" + itemNon.itemName + " id=" + itemNon.itemID + " value='2'>" +
                        "Non" +
                        "</label>" +
                        "</div>" +
                        "</div>";
                }
                else if (questionObj.graphique == 1) {
                    questionObj.codeHtml = "<div id=" + questionPreviewId + " class='form-group'>" +
                        "<label class='col-md-4 control-label' for=" + itemOui.itemID + ">" + questionObj.intitule + "</label>" +
                        "<div class='col-md-4'>" +
                        "<div class='radio'>" +
                        "<label for=" + itemOui.itemID + ">" +
                        "<input type='radio' name=" + itemOui.itemName + " id=" + itemOui.itemID + " value='1' checked='checked'>" +
                        "Oui" +
                        "</label>" +
                        "</div>" +
                        "<div class='radio'>" +
                        "<label for=" + itemNon.itemID + ">" +
                        "<input type='radio' name=" + itemNon.itemName + " id=" + itemNon.itemID + " value='2'>" +
                        "Non" +
                        "</label>" +
                        "</div>" +
                        "</div>" +
                        "</div>";
                }
            }
            if (questionObj.type == "OuiNonNsp")
            {
                    itemOui.itemID = "Oui" + codeQuestion;
                    itemOui.itemName = "radio" + codeQuestion;


                    itemNon.itemID = "Non" + codeQuestion;
                    itemNon.itemName = "radio" + codeQuestion;


                    itemNeSaisPas.itemID = "NeSaisPas" + codeQuestion;
                    itemNeSaisPas.itemName = "radio" + codeQuestion;
                if (questionObj.graphique == 2) {
                    questionObj.codeHtml = "<div id=" + questionPreviewId + " class='form-group'>" +
                        "<label class='col-md-4 control-label' for=" + itemOui.itemID + ">" + questionObj.intitule +"</label>" +
                        "<div class='col-md-4'>" +
                        "<label class='radio-inline mr-2' for=" + itemOui.itemID + ">" +
                        "<input type='radio' name=" + itemOui.itemName + " id=" + itemOui.itemID + " value='1' checked='checked'>" +
                        "Oui" +
                        "</label>" +
                        "<label class='radio-inline mr-2' for=" + itemNon.itemID + ">" +
                        "<input type='radio' name=" + itemNon.itemName + " id=" + itemNon.itemID + " value='2'>" +
                        "Non" +
                        "</label>" +
                        "<label class='radio-inline' for=" + itemNeSaisPas.itemID + ">" +
                        "<input type='radio' name=" + itemNeSaisPas.itemName + " id=" + itemNeSaisPas.itemID + " value='2'>" +
                        "Ne sais pas" +
                        "</label>" +
                        "</div>" +
                        "</div>";
                }
                else if (questionObj.graphique == 1) {
                    questionObj.codeHtml = "<div id=" + questionPreviewId + " class='form-group'>" +
                        "<label class='col-md-4 control-label' for=" + itemOui.itemID + ">" + questionObj.intitule + "</label>" +
                        "<div class='col-md-4'>" +
                        "<div class='radio'>"+
                        "<label for=" + itemOui.itemID + ">" +
                        "<input type='radio' name=" + itemOui.itemName + " id=" + itemOui.itemID + " value='1' checked='checked'>" +
                        "Oui" +
                        "</label>" +
                        "</div>" +
                        "<div class='radio'>" +
                        "<label for=" + itemNon.itemID + ">" +
                        "<input type='radio' name=" + itemNon.itemName + " id=" + itemNon.itemID + " value='2'>" +
                        "Non" +
                        "</label>" +
                        "</div>" +
                        "<div class='radio'>" +
                        "<label for=" + itemNeSaisPas.itemID + ">" +
                        "<input type='radio' name=" + itemNeSaisPas.itemName + " id=" + itemNeSaisPas.itemID + " value='2'>" +
                        "Ne sais pas" +
                        "</label>" +
                        "</div>" +
                        "</div>" +
                        "</div>";
                }
            }
            if (questionObj.type == "1a10")
            {

                if (questionObj.listItems.length == 1) {
                    item1.itemID = "1" + codeQuestion;
                    item1.itemName = "radios-1" + codeQuestion;
                    questionObj.listItems.push({ item1 });
                    item2.itemID = "2" + codeQuestion;
                    item2.itemName = "radios-2" + codeQuestion;
                    questionObj.listItems.push({ item2 });
                    item3.itemID = "3" + codeQuestion;
                    item3.itemName = "radios-3" + codeQuestion;
                    questionObj.listItems.push({ item3 });
                    item4.itemID = "4" + codeQuestion;
                    item4.itemName = "radios-4" + codeQuestion;
                    questionObj.listItems.push({ item4 });
                    item5.itemID = "5" + codeQuestion;
                    item5.itemName = "radios-5" + codeQuestion;
                    questionObj.listItems.push({ item5 });
                    item6.itemID = "6" + codeQuestion;
                    item6.itemName = "radios-6" + codeQuestion;
                    questionObj.listItems.push({ item6 });
                    item7.itemID = "7" + codeQuestion;
                    item7.itemName = "radios-7" + codeQuestion;
                    questionObj.listItems.push({ item7 });
                    item8.itemID = "8" + codeQuestion;
                    item8.itemName = "radios-8" + codeQuestion;
                    questionObj.listItems.push({ item8 });
                    item9.itemID = "9" + codeQuestion;
                    item9.itemName = "radios-9" + codeQuestion;
                    questionObj.listItems.push({ item9 });
                    item10.itemID = "10" + codeQuestion;
                    item10.itemName = "radios-10" + codeQuestion;
                    questionObj.listItems.push({ item10 });

                }

                    questionObj.codeHtml = "<div id=" + questionPreviewId + " class='form-group'>" +
                        "<label class='col-md-4 control-label' for='radios'>" + questionObj.intitule + "</label>" +
                        "<div class='col-md-4'>" +
                        "<label class='radio-inline mr-2' for=" + item1.itemID + ">" +
                        "<input type='radio' name=" + item1.itemName +" id=" + item1.itemID + " value='1' disabled>" +
                        "1" +
                        "</label>" +
                        "<label class='radio-inline mr-2' for=" + item2.itemID + ">" +
                        "<input type='radio' name=" + item2.itemName + " id=" + item2.itemID + " value='1' disabled>" +
                        "2" +
                        "</label>" +
                        "<label class='radio-inline mr-2' for=" + item3.itemID + ">" +
                        "<input type='radio' name=" + item3.itemName + " id=" + item3.itemID + " value='1' disabled>" +
                        "3" +
                        "</label>" +
                        "<label class='radio-inline mr-2' for=" + item4.itemID + ">" +
                        "<input type='radio' name=" + item4.itemName + " id=" + item4.itemID + " value='1' disabled>" +
                        "4" +
                        "</label>" +
                        "<label class='radio-inline mr-2' for=" + item5.itemID + ">" +
                        "<input type='radio' name=" + item5.itemName + " id=" + item5.itemID + " value='1' disabled>" +
                        "5" +
                        "</label>" +
                        "<label class='radio-inline mr-2' for=" + item6.itemID + ">" +
                        "<input type='radio' name=" + item6.itemName + " id=" + item6.itemID + " value='1' disabled>" +
                        "6" +
                        "</label>" +
                        "<label class='radio-inline mr-2' for=" + item7.itemID + ">" +
                        "<input type='radio' name=" + item7.itemName + " id=" + item7.itemID + " value='1' disabled>" +
                        "7" +
                        "</label>" +
                        "<label class='radio-inline mr-2' for=" + item8.itemID + ">" +
                        "<input type='radio' name=" + item8.itemName + " id=" + item8.itemID + " value='1' disabled>" +
                        "8" +
                        "</label>" +
                        "<label class='radio-inline mr-2' for=" + item9.itemID + ">" +
                        "<input type='radio' name=" + item9.itemName + " id=" + item9.itemID + " value='1' disabled>" +
                        "9" +
                        "</label>" +
                        "<label class='radio-inline mr-2' for=" + item10.itemID + ">" +
                        "<input type='radio' name=" + item10.itemName + " id=" + item10.itemID + " value='1' disabled>" +
                        "10" +
                    "</label></div></div>";


            }
            $("#previewQuestions").append(questionObj.codeHtml);
        };
        function QuestionObj(type, choixRequis, ajoutSupprChoix)
        {
            this.type = type;
            sousType = '';
            this.choixRequis = choixRequis;
            questionId = '';
            intitule = '';
            dataTarget = '';
            TargetId = '';
            intituleTxtBId = '';
            intituleDivBId = '';
            requisOuiRadioId = '';
            requisNonRadioId = '';
            requisRadioName = '';
            ddlId = '';
            this.ajoutSupprChoix = ajoutSupprChoix;
            ajouterBtnId = '';
            supprBtnId = '';
            trashBtnId = '';
            graphique = '';
            graphiqueLigneId = '';
            graphiqueColId = '';
            codeHtml = '';
            listItems = [''];
        }
        function Item() {
            itemId = '';
            typeItem = '';
            itemTxtBId = '';
            itemUlId = '';
            itemIntitule = '';
            codeHtml = '';
            itemName = '';
        }

    });
    function ExtraireCodeQuestion(Id = '') {

        if (Id.match(/(\d+)/)) {
            var code = '';
            code = Id.match(/(\d+)/);
            return code[0];
        }
        else {

            return false;
        }
    }

    //$(function () {
    //    $('#sortable').sortable({
    //        update: function (event, ui) {
    //            var productOrder = $(this).sortable('toArray').toString();
    //            $("#ordre").text(productOrder);
    //        }
    //    });
    //});

    //$('.drag').draggable({
    //    containment: '#limitation',
    //    snap: '.draggable',
    //    revert: true
    //});
    //$('.drop').droppable();

</script>
